/*

To enable a theme in your HTML, simply add one of the following data attributes to an HTML element, like so:

<body data-corner-radius-mode="standard">
    <!-- the rest of your content -->
</body>

You can apply the theme on any DOM node, not just the `body`

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --card: transparent;
        --card-foreground: 222.2 47.4% 11.2%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;

        --14-regular-font-family: "Inter", Helvetica;
        --14-regular-font-size: 14px;
        --14-regular-font-style: normal;
        --14-regular-font-weight: 400;
        --14-regular-letter-spacing: 0px;
        --14-regular-line-height: 20px;
        --16-regular-font-family: "Inter", Helvetica;
        --16-regular-font-size: 16px;
        --16-regular-font-style: normal;
        --16-regular-font-weight: 400;
        --16-regular-letter-spacing: 0px;
        --16-regular-line-height: 24px;
        --18-semibold-font-family: "Inter", Helvetica;
        --18-semibold-font-size: 18px;
        --18-semibold-font-style: normal;
        --18-semibold-font-weight: 600;
        --18-semibold-letter-spacing: 0px;
        --18-semibold-line-height: 28px;
        --colors-black-100: rgba(0, 0, 0, 1);
        --colors-black-4: rgba(0, 0, 0, 0.04);
        --corner-radius-12: 12px;
        --corner-radius-16-duplicate: 16px;
        --corner-radius-24-duplicate: 24px;
        --corner-radius-8: 8px;
        --drop-shadow-1: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
        --example-universalpalette-fill-bg: rgba(255, 255, 255, 1);
        --example-universalpalette-text-regular: rgba(0, 0, 0, 0.7);
        --inter-body-large-16-regular-font-family: "Inter", Helvetica;
        --inter-body-large-16-regular-font-size: 16px;
        --inter-body-large-16-regular-font-style: normal;
        --inter-body-large-16-regular-font-weight: 400;
        --inter-body-large-16-regular-letter-spacing: 0px;
        --inter-body-large-16-regular-line-height: 150%;
        --product-theme-neutral-100: rgba(16, 16, 16, 1);
        --product-theme-neutral-30: rgba(237, 237, 237, 1);
        --show-or-hide-2-show-or-hide-2: initial;
        --show-or-hide-show-or-hide: initial;
        --spacing-16: 16px;
        --spacing-24: 24px;
        --spacing-8-duplicate: 8px;
    }

    .dark {
        --background: 224 71% 4%;
        --foreground: 213 31% 91%;

        --muted: 223 47% 11%;
        --muted-foreground: 215.4 16.3% 56.9%;

        --accent: 216 34% 17%;
        --accent-foreground: 210 40% 98%;

        --popover: 224 71% 4%;
        --popover-foreground: 215 20.2% 65.1%;

        --border: 216 34% 17%;
        --input: 216 34% 17%;

        --card: transparent;
        --card-foreground: 213 31% 91%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 1.2%;

        --secondary: 222.2 47.4% 11.2%;
        --secondary-foreground: 210 40% 98%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 210 40% 98%;

        --ring: 216 34% 17%;

        --radius: 0.5rem;
    }
}

@layer components {
    .all-\[unset\] {
        all: unset;
    }

    [data-corner-radius-mode="standard"] {
        --corner-radius-12: 12px;
        --corner-radius-16-duplicate: 16px;
        --corner-radius-24-duplicate: 24px;
        --corner-radius-8: 8px;
    }

    [data-corner-radius-mode="expanded-4"] {
        --corner-radius-12: 16px;
        --corner-radius-16-duplicate: 20px;
        --corner-radius-24-duplicate: 28px;
        --corner-radius-8: 12px;
    }

    [data-corner-radius-mode="expanded-8"] {
        --corner-radius-12: 20px;
        --corner-radius-16-duplicate: 24px;
        --corner-radius-24-duplicate: 32px;
        --corner-radius-8: 16px;
    }

    [data-corner-radius-mode="condensed-4"] {
        --corner-radius-12: 8px;
        --corner-radius-16-duplicate: 12px;
        --corner-radius-24-duplicate: 20px;
        --corner-radius-8: 4px;
    }

    [data-spacing-mode="standard"] {
        --spacing-16: 16px;
        --spacing-24: 24px;
        --spacing-8-duplicate: 8px;
    }

    [data-spacing-mode="expanded-4"] {
        --spacing-16: 20px;
        --spacing-24: 28px;
        --spacing-8-duplicate: 12px;
    }

    [data-spacing-mode="expanded-8"] {
        --spacing-16: 24px;
        --spacing-24: 32px;
        --spacing-8-duplicate: 16px;
    }

    [data-spacing-mode="condensed-4"] {
        --spacing-16: 12px;
        --spacing-24: 20px;
        --spacing-8-duplicate: 4px;
    }

    [data-colors-mode="snowui-light"] {
        --colors-black-100: rgba(0, 0, 0, 1);
        --colors-black-4: rgba(0, 0, 0, 0.04);
    }

    [data-colors-mode="snowui-dark"] {
        --colors-black-100: rgba(255, 255, 255, 1);
        --colors-black-4: rgba(255, 255, 255, 0.1);
    }

    [data-colors-mode="ios-macos-light"] {
        --colors-black-100: rgba(0, 0, 0, 1);
        --colors-black-4: rgba(0, 0, 0, 0.04);
    }

    [data-colors-mode="ios-macos-dark"] {
        --colors-black-100: rgba(255, 255, 255, 1);
        --colors-black-4: rgba(255, 255, 255, 0.1);
    }

    [data-product-theme-mode="light-mode"] {
        --product-theme-neutral-100: rgba(16, 16, 16, 1);
        --product-theme-neutral-30: rgba(237, 237, 237, 1);
    }

    [data-product-theme-mode="dark-mode"] {
        --product-theme-neutral-100: rgba(255, 255, 255, 1);
        --product-theme-neutral-30: rgba(56, 56, 56, 1);
    }

    [data-example-mode="light"] {
        --example-universalpalette-fill-bg: rgba(255, 255, 255, 1);
        --example-universalpalette-text-regular: rgba(0, 0, 0, 0.7);
    }

    [data-example-mode="dark"] {
        --example-universalpalette-fill-bg: rgba(57, 61, 82, 1);
        --example-universalpalette-text-regular: rgba(255, 255, 255, 0.75);
    }

    [data-show-or-hide-2-mode="true"] {
        --show-or-hide-2-show-or-hide-2: initial;
    }

    [data-show-or-hide-2-mode="false"] {
        --show-or-hide-2-show-or-hide-2: none;
    }

    [data-show-or-hide-mode="true"] {
        --show-or-hide-show-or-hide: initial;
    }

    [data-show-or-hide-mode="false"] {
        --show-or-hide-show-or-hide: none;
    }
}